body {
    margin: 10px;
    font-size: 25px;
    color: midnightblue;
    background: yellow;
}

a {
    text-decoration: none;
    color: midnightblue;
}

a:hover{
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

h1{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

h3, h4, h5, h6, h7, h8, h2 {
    font-weight: normal;
    font-size: 30px;
}

.container{
    width: 960px;
    height: 300px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}